@import '../common/style/var.less';

.van-badge {
	position: relative;
	display: inline-block;

	&__wrapper {
		display: inline-block;
    box-sizing: border-box;
    min-width: var(--badge-width, @badge-width);
    padding: var(--badge-padding, @badge-padding);
    color: var(--badge-text-color-light, @badge-text-color-light);
    font-weight: var(--badge-font-weight, @badge-font-weight);
    font-size: var(--badge-font-size, @badge-font-size);
    line-height: 1.2;
    text-align: center;
    background: var(--badge-background-color, @badge-background-color);
    border: 1px solid var(--badge-text-color-light, @badge-text-color-light);
    border-radius: var(--badge-border-radius, @badge-border-radius);
		position: absolute;
    transform-origin: 100%;

		&--top-left {
			top: 0;
			left: 0;
			transform: translate(-50%, -50%);
		}
		&--top-right {
			top: 0;
			right: 0;
			transform: translate(50%, -50%);
		}
		&--bottom-left {
			bottom: 0;
			left: 0;
			transform: translate(-50%, 50%);
		}
		&--bottom-right {
			bottom: 0;
			right: 0;
			transform: translate(50%, 50%);
		}

		&--dot {
			width: var(--badge-dot-size, @badge-dot-size);
			min-width: 0;
			height:	var(--badge-dot-size, @badge-dot-size);
			background: var(--badge-background-color, @badge-background-color);
			border-radius: var(--badge-border-radius, @badge-border-radius);
			border: none;
			padding: 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.van-badge {
		&__wrapper {
			color: var(--badge-text-color-dark, @badge-text-color-dark);
			border-color: var(--badge-text-color-dark, @badge-text-color-dark);
		}
	}
}