@import '../common/style/var.less';

.van-field {
  --cell-icon-size: var(--field-icon-size, @field-icon-size);

  &__label {
    color: var(--field-label-color-light, @field-label-color-light);

    &--disabled {
      color: var(
        --field-disabled-text-color-light,
        @field-disabled-text-color-light
      );
    }
  }

  &__body {
    display: flex;
    align-items: center;

    &--textarea {
      box-sizing: border-box;
      padding: 3.6px 0;
      line-height: 1.2em;
      min-height: var(--cell-line-height, @cell-line-height);
    }
  }

  &__control:empty + &__control {
    display: block;
  }

  &__control {
    position: relative;
    display: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
    color: var(--field-input-text-color-light, @field-input-text-color-light);
    height: var(--cell-line-height, @cell-line-height);
    min-height: var(--cell-line-height, @cell-line-height);

    &:empty {
      display: none;
    }

    &--textarea {
      height: var(--field-text-area-min-height, @field-text-area-min-height);
      min-height: var(
        --field-text-area-min-height,
        @field-text-area-min-height
      );
    }

    &--error {
      color: var(--field-input-error-text-color, @field-input-error-text-color);
    }

    &--disabled {
      background-color: transparent;
      opacity: 1;
      color: var(
        --field-input-disabled-text-color-light,
        @field-input-disabled-text-color-light
      );
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--custom {
      display: flex;
      align-items: center;
      min-height: var(--cell-line-height, @cell-line-height);
    }
  }

  &__tip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    &-inner {
      display: inline-block;
      border: 1px solid var(--field-tip-border-color-light, @field-tip-border-color-light);
      background-color: var(--field-tip-background-color-light, @field-tip-background-color-light);
      border-radius: var(--field-tip-border-radius, @field-tip-border-radius);
      font-weight: bold;
      font-size: var(--field-tip-text-font-size, @field-tip-text-font-size);
      color: var(--field-tip-text-color-light, @field-tip-text-color-light);
      padding: var(--field-tip-text-padding, @field-tip-text-padding);
    }

    &-item {
      position: relative;
      font-size: @font-size-sm;
      font-weight: normal;
      line-height: @font-size-lg;
      padding-left: @padding-md;
      margin-bottom: @padding-base;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        position: absolute;
        left: 0;
        top: 2px;
      }
    }

    &--left {
      left: 0;
      right: 0;
      transform: translate3d(-32px, -110%, 0);
      text-align: left;
    }

    &--right {
      left: 0;
      right: 0;
      transform: translate3d(0, -110%, 0);
      text-align: right;
    }

    &--center {
      left: 50%;
      transform: translate3d(-50%, -110%, 0);
      text-align: center;
    }

    &-unit {
      margin-left: var(--padding-base, @padding-base);
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    color: var(
      --field-placeholder-text-color-light,
      @field-placeholder-text-color-light
    );

    &--error {
      color: var(--field-error-message-color, @field-error-message-color);
    }
  }

  &__icon-root {
    display: flex;
    align-items: center;
    min-height: var(--cell-line-height, @cell-line-height);
  }

  &__clear-root,
  &__icon-container {
    line-height: inherit;
    vertical-align: middle;
    padding: 0 var(--padding-xs, @padding-xs);
    margin-right: calc(-1 * var(--padding-xs, @padding-xs));
  }

  &__clear-root,
  &__icon-container,
  &__button {
    flex-shrink: 0;
  }

  &__clear-root {
    font-size: var(--field-clear-icon-size, @field-clear-icon-size);
    color: var(--field-clear-icon-color-light, @field-clear-icon-color-light);
  }

  &__icon-container {
    font-size: var(--field-icon-size, @field-icon-size);
    color: var(
      --field-icon-container-color-light,
      @field-icon-container-color-light
    );

    &:empty {
      display: none;
    }
  }

  &__button {
    padding-left: var(--padding-xs, @padding-xs);

    &:empty {
      display: none;
    }
  }

  &__error-message {
    text-align: left;
    font-size: var(
      --field-error-message-text-font-size,
      @field-error-message-text-font-size
    );
    color: var(--field-error-message-color, @field-error-message-color);

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__word-limit {
    text-align: right;
    margin-top: var(--padding-base, @padding-base);
    color: var(--field-word-limit-color-light, @field-word-limit-color-light);
    font-size: var(--field-word-limit-font-size, @field-word-limit-font-size);
    line-height: var(
      --field-word-limit-line-height,
      @field-word-limit-line-height
    );
  }

  &__word-num {
    display: inline;

    &--full {
      color: var(--field-word-num-full-color, @field-word-num-full-color);
    }
  }
}

.page-dark {
  .van-field {
    &__label {
      color: var(--field-label-color-dark, @field-label-color-dark);

      &--disabled {
        color: var(
          --field-disabled-text-color-dark,
          @field-disabled-text-color-dark
        );
      }
    }

    &__control {
      color: var(--field-input-text-color-dark, @field-input-text-color-dark);

      &--error {
        color: var(
          --field-input-error-text-color,
          @field-input-error-text-color
        );
      }

      &--disabled {
        color: var(
          --field-input-disabled-text-color-dark,
          @field-input-disabled-text-color-dark
        );
      }
    }

    &__placeholder {
      color: var(
        --field-placeholder-text-color-dark,
        @field-placeholder-text-color-dark
      );

      &--error {
        color: var(--field-error-message-color, @field-error-message-color);
      }
    }

    &__clear-root {
      color: var(--field-clear-icon-color-dark, @field-clear-icon-color-dark);
    }

    &__icon-container {
      color: var(
        --field-icon-container-color-dark,
        @field-icon-container-color-dark
      );
    }

    &__word-limit {
      color: var(--field-word-limit-color-dark, @field-word-limit-color-dark);
    }
  }
}
