/*
 * @Author: chenzh chenzh@szfdc.net.cn
 * @Date: 2022-06-09 11:43:07
 * @LastEditors: chenzh chenzh@szfdc.net.cn
 * @LastEditTime: 2022-12-10 11:46:29
 * @Description: 
 * 
 * Copyright (c) 2022 by 深圳市优房网络有限公司 All Rights Reserved. 
 */
/* eslint-disable */
var startX = 0;
function start(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0];
  startX = touch.pageX;
  var target = event.currentTarget.dataset.target;
  var left = event.currentTarget.dataset.left;
  ins.callMethod('onDragStart', {
    isDrag: true,
  });
  ins.selectComponent('.van-slide-captcha__origin').setStyle({
    left: left - target + 'px',
  });
}
function move(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0];
  var pageX = touch.pageX;
  var width = pageX - startX;
  var target = event.currentTarget.dataset.target;
  var left = event.currentTarget.dataset.left;
  var max = event.currentTarget.dataset.max;
  if (width > 0) {
    ins.selectComponent('.van-slide-captcha__origin').setStyle({
      left: (left - target + (width >= max ? max : width)) + 'px',
    });
  }
}
function end(event, ins) {
  var max = event.currentTarget.dataset.max;
  var touch = event.touches[0] || event.changedTouches[0];
  if (touch.pageX - startX > 0) {
    ins.callMethod('onDragEnd', {
      x: (touch.pageX - startX) >= max ? max : touch.pageX - startX,
      isDrag: false,
    });
  }
}

module.exports = {
  touchstart: start,
  touchmove: move,
  touchend: end,
};
