@import '../common/style/var.less';

.van-number-keyboard {
  background: var(
    --number-keyboard-background-light,
    @number-keyboard-background-light
  );

  &__header {
    text-align: center;
    font-size: var(
      --number-keyboard-header-font-size,
      @number-keyboard-header-font-size
    );
    color: var(
      --number-keyboard-header-color-light,
      @number-keyboard-header-color-light
    );
    position: relative;
    height: var(
      --number-keyboard-header-height,
      @number-keyboard-header-height
    );
    line-height: var(
      --number-keyboard-header-height,
      @number-keyboard-header-height
    );

    &-button {
      position: absolute;
      right: @padding-md;
      top: 0;
      color: @primary-color;
    }
  }

  &__input {
    padding: 12rpx;
  }

  &__body {
    display: flex;
    padding: 6px 0 0 6px;
  }

  &__keys {
    display: flex;
    flex: 3;
    flex-wrap: wrap;

    &-wrapper {
      position: relative;
      flex: 1;
      flex-basis: 33%;
      box-sizing: border-box;
      padding: 0 6px 6px 0;

      &--wider {
        flex-basis: 66%;
      }
    }
  }

  &__button {
    background-color: var(
      --number-keyboard-button-background-light,
      @number-keyboard-button-background-light
    );
    border-radius: var(
      --number-keyboard-button-border-radius,
      @number-keyboard-button-border-radius
    );
    height: var(
      --number-keyboard-button-height,
      @number-keyboard-button-height
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(
      --number-keyboard-button-font-size,
      @number-keyboard-button-font-size
    );
    color: var(
      --number-keyboard-button-color-light,
      @number-keyboard-button-color-light
    );

    &--hover {
      background-color: @gray-2;
    }

    &--large {
      position: absolute;
      top: 0;
      right: 6px;
      bottom: 6px;
      left: 0;
      height: auto;
    }

    &--primary {
      background: @primary-color;
      color: @white;
    }

    &-text {
      font-size: var(
        --number-keyboard-button-text-font-size,
        @number-keyboard-button-text-font-size
      );
    }
  }

  &__sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.page-dark {
  .van-number-keyboard {
    background: var(
      --number-keyboard-background-dark,
      @number-keyboard-background-dark
    );

    &__header {
      color: var(
        --number-keyboard-header-color-dark,
        @number-keyboard-header-color-dark
      );
    }

    &__button {
      background-color: var(
        --number-keyboard-button-background-dark,
        @number-keyboard-button-background-dark
      );
      color: var(
        --number-keyboard-button-color-dark,
        @number-keyboard-button-color-dark
      );

      &--hover {
        background-color: @gray-7;
      }

      &--primary {
        background: @primary-color;
        color: @white;
      }
    }
  }
}
