@import '../common/style/var.less';

.van-list {
	height: 100%;

  &__load-more,
  &__end {
    padding: @padding-sm @padding-md;
    text-align: center;
    background: @white;
    font-size: 24rpx !important;
    color: @gray-6;
    margin: 0 !important;
  }
}
